.landingPageWrapper{
    background-color:#B4D9EF;
    height:100vh; 
}

.firstViewablePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.servicesDivWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:10%;
    margin-right:10%;
    margin-top:5%;
}
.leftServicesDiv{
    width:50vw; 
    margin-right:5%;
    border-radius: 5%;
    font-size: 2rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.rightServicesDiv{
    width:50vw; 
    font-size: 2rem;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.rightServicesDiv li {
  list-style-type: none; /* removes bullets */
  margin: 8px 0; /* optional: adds spacing between items */
  padding-left: 0; /* removes any left indent */
}
.mainImg {
  width: 50vw;              /* take up 50% of the viewport width */
  height: auto;             /* automatically scale height */
  object-fit: contain;      /* preserve aspect ratio */
  display: block;           /* remove inline spacing if needed */
  max-height: 70vh;         /* optional: prevents it from getting too tall */
}

.slideshow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
 
}

.companyName{
    text-align: center;
}
#logoWhite{
    height:65%;
}
#userInputBox{
    background-color: #B4D9EF;
    border-radius: 5%;
    min-width: 30vw;
    min-height: 10vh;
    /* padding:2%; */

}
.namePhoneDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-between; */

}
.name{

    margin-right: 5%;
}
.email{
    margin-right: 5%;
}
.emailZipDiv{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin-top: 2%;

}
.trashDescriptionAndSubmit{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin-top: 2%;
}
input::placeholder {
  font-weight: bold;
  color: black;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #B4D9EF; /* optional */
}
/* input{
    width:27vw; 
    background-color: hsl(202, 65%, 82%);
    border-radius: 20px;
    height:100px;
    font-size: 36px;
    
} */
input::placeholder,
textarea::placeholder {
  font-weight:100;
}
#submitButton{
    border-color:red;
    display: block; /* Important for margin: auto to work */
    margin: 0 auto;
    width:15vw
}
.formDescription{
    text-align: center;
    padding-left:5%;
    padding-right:5%;
    font-size: 2rem;
}
.fileUploadContainer {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

/* Hide the default file input */
#fileInput {
  display: none;
}

/* Style the label to look like a button */
.uploadButton, input {
  background-color: #ffffff;
  color: black;
  border-color: white;
  text-align: center;
  padding: 2% 3%;
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.uploadButton:hover {
  background-color: #e6f4ff;
  transform: scale(1.03);
}
